<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
    <!-- -------------- MAIN  --------------------------  -->
    <main class="main-container-admin">
     <section>

             <!-- ----TÍTULOS----  -->
            <div class="dashboard-titles-container">
               <p class="dashboard-title">id</p>
               <p class="dashboard-title">Nombre</p>
               <p class="dashboard-title">Precio</p>
               <p class="dashboard-title">Categoría</p>
               <p class="dashboard-title">Descuento</p>
               <p class="dashboard-title">Acciones</p>
            </div>
          
          <!-- ----PRODUCTOS----  -->
<div class="dashboard-products-container">
<%products.forEach(function(product){%>
         <div> <p class="dashboard-title"><%=product.id%></p></div>
         <div> <p class="dashboard-title"><%=product.name%></p></div>
         <div> <p class="dashboard-title"><%=product.price%></p></div>
         <div>  <p class="dashboard-title"><%=product.category%></p></div>
         <div>  <p class="dashboard-title"><%=product.discount%></p></div>

         <div class="dashboard-btn-container">
            <!-- ----BOTÓN "DETALLE"----  -->
          <a href="products/detail/<%= product.id %>"><button type="submit" class="dashboard-btn-detalle btn-hover">DETALLE</button></a>
    
            <!-- ----BOTÓN "BORRAR"----  -->
              <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="dashboard-btn-borrar btn-hover">BORRAR</button>
            </form>  
            <!-- ----BOTÓN "EDITAR"----  -->
            <a href="products/<%= product.id %>/edit"><button type="submit" class="dashboard-btn-edit btn-hover">EDITAR</button></a>
      </div>
<%})%>


      
		
  </div>
           
          <!-- ----BOTÓN "CREAR"----  -->
          <button type="submit" class="dashboard-btn-create btn-hover">CREAR</button>
         

     
     </section>   
    </main>
    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>