<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
    <!-- -------------- MAIN  --------------------------  -->
    <main class="main-container-admin">
     <section>
            <h4 class="dashboard-title">Panel de administración de productos</h4>
            <!-- ----BOTÓN "CREAR"----  -->
            <a href="http://localhost:3001/products/create "><button type="submit" class="dashboard-btn-create btn-hover">CARGAR NUEVO PRODUCTO</button></a>
             
            <!-- ----TÍTULOS----  -->
            <div class="dashboard-titles-container">
               <p class="dashboard-titles  dashboard-small-column">id</p>
               <p class="dashboard-titles  dashboard-large-column">Nombre</p>
               <p class="dashboard-titles  dashboard-small-column">Precio</p>
               <p class="dashboard-titles  dashboard-medium-column">Categoría</p>
               <p class="dashboard-titles  dashboard-small-column">Descuento</p>
               <p class="dashboard-titles  dashboard-medium-column">Acciones</p>
            </div>
          
          <!-- ----PRODUCTOS----  -->
<div class="dashboard-products-container">
<%products.forEach(function(product){%>
         <div class="dashboar-product-box">
          <div>
            <p class="dashboard-titles dashboard-small-column">
              <%=product.id%>
            </p>
          </div>
          <div>
            <p class="dashboard-titles  dashboard-large-column">
              <%=product.name%>
            </p>
          </div>
          <div>
            <p class="dashboard-titles  dashboard-small-column">
              $ <%=product.price%>
            </p>
          </div>
          <div>
            <p class="dashboard-titles  dashboard-medium-column">
              <% if(product.categoryld == 1 ){
                 %>
                  Funcional
              <% }else if(product.categoryld == 2 ){
               %>
                  Fitness
              <%
          }else{
                %>
                  Yoga
              <%
          } %>
              
            </p>
          </div>
          <div>
            <p class="dashboard-titles  dashboard-small-column">
              <%=product.discount%> %
            </p>
          </div>
          
          <div class="dashboard-btn-container">
            <!-- ----BOTÓN "DETALLE"----  -->
            <a href="http://localhost:3001/products/detail/<%= product.id %>"><button type="submit"
                class="dashboard-btn-detalle btn-hover">DETALLE</button></a>
          
            <!-- ----BOTÓN "BORRAR"----  -->
            <form action="http://localhost:3001/products/<%= product.id %>?_method=DELETE" method="POST">
              <button type="submit" class="dashboard-btn-borrar btn-hover">BORRAR</button>
            </form>
            <!-- ----BOTÓN "EDITAR"----  -->
            <a href="http://localhost:3001/products/<%= product.id %>/edit"><button type="submit"
                class="dashboard-btn-edit btn-hover">EDITAR</button></a>
         </div>
      </div>
<%})%>


      
		
  </div>
           
          

     
     </section>   
    </main>
    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>