<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
    <!-- -------------- MAIN  --------------------------  -->
    <main class="main-container-admin">
     <section>
            <h4 class="dashboard-title">Panel de administración de Usuarios</h4>
                         
            <!-- ----TÍTULOS----  -->
            <div class="dashboard-titles-container">
               <p class="dashboard-titles  dashboard-small-column" style="font-size: 1.8rem">id</p>
               <p class="dashboard-titles  dashboard-large-column" style="font-size: 1.8rem">Nombre</p>
               <p class="dashboard-titles  dashboard-small-column" style="font-size: 1.8rem">Apellido</p>
               <p class="dashboard-titles  dashboard-medium-column" style="font-size: 1.8rem">Email</p>
               <p class="dashboard-titles  dashboard-small-column" style="font-size: 1.8rem">User Role</p>
            </div>
          
          <!-- ----PRODUCTOS----  -->
<div class="dashboard-products-container">
<% users.forEach(function(user){%>
         <div class="dashboar-product-box">
          <div>
            <p class="dashboard-titles dashboard-small-column">
              <%=user.id%>
            </p>
          </div>
          <div>
            <p class="dashboard-titles  dashboard-large-column">
              <%=user.firstName%>
            </p>
          </div>
          <div>
            <p class="dashboard-titles  dashboard-small-column">
               <%=user.lastName%>
            </p>
          </div>
          <div>
            <p class="dashboard-titles  dashboard-medium-column">
              <%=user.email%>    
              </p>
          </div>
          <div>
            <p class="dashboard-titles  dashboard-small-column">
              <%=user.userRole%> 
            </p>
          </div>
          
          <div class="dashboard-btn-container">
            <!-- ----BOTÓN "DETALLE"----  -->
            <a href="http://localhost:3001/admin/detail/<%= user.id %>"><button type="submit"
                class="dashboard-btn-detalle btn-hover">DETALLE</button></a>
          
            <!-- ----BOTÓN "BORRAR"----  -->
            <form action="http://localhost:3001/admin/delete/<%= user.id %>" method="POST">
              <button  value="<%= user.id %>" type="submit" class="dashboard-btn-borrar btn-hover">BORRAR</button>
            </form>
            <!-- ----BOTÓN "EDITAR"----  -->
            <a href="http://localhost:3001/admin/<%= user.id %>/edit"><button type="submit"
                class="dashboard-btn-edit btn-hover">EDITAR</button></a>
         </div>
      </div>
<%})%>


      
		
  </div>
           
          

     
     </section>   
    </main>
    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>