<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>

    <!-- -------------- MAIN  --------------------------  -->
    <main class="main-container-admin">
     <section>
        <form action="?_method=PATCH" method="POST" enctype="multipart/form-data"  class="admin-container">
             <!-- ----TÍTULO----  -->
            <div class="admin-title">
                 <h1 class="admin-h1">EDITAR PRODUCTO</h1>
            </div>
        
        <div class=container-left>
            <!-- ----NOMBRE ----  -->
            <div class="admin-cajas-input">
               <label for="">Nombre del producto</label></br>
                 <input value="<%= product.name %>" type="Text" name="name" placeholder="Ingresá nombre del producto" required>
            </div>

          <!-- ----CATEGORÍA----  -->
          <div class="admin-cajas-input">
               <label class="admin-category" for="">Categoría:</label>
               <select class="textarea-input" name="category" required>
                    <option class="textarea-input" value="" selected disabled hidden>Elegir aquí</option>
                    <option class="textarea-input" value="funcional">Funcional</option>
                    <option class="textarea-input" value="yoga">Yoga</option>
                    <option class="textarea-input" value="fitness">Fitness grupal</option>
               </select>
          </div>

            <!-- ----foto----  -->
            <div class="admin-cajas-input" class="create-input-photo">
                <label class="label-foto-admin">Foto del producto</label>
                <br>
                <input type="file" name="image">
           </div>

        </div>


        <div class=container-right>
             

           <!-- ----DESCRIPCIÓN----  -->
           <div class="admin-cajas-input">
                <label for="">Descripción</label></br>
                <textarea name="description" class="textarea-input" id="description" rows="4" cols="38"><%= product.description %></textarea>
           </div>

           <!-- ----DESCUENTO----  -->
                    <div class="admin-cajas-input">
                         <label for="">Descuento</label></br>
                    <input  value="<%= product.discount %>"  type="number" name="discount" placeholder="discount" required>
               </div>
          
                <!-- ----PRECIO----  -->
                <div class="admin-cajas-input">
                <label for="">Precio</label></br>
                <input  value="<%= product.price %>" type="number" name="price" placeholder="Precio" required>
                </div>
         </div>
           <!-- ----BOTÓN "EDITAR"----  -->
           <button type="submit" class="admin-button">EDITAR</button>

        </form>

     </section>   
    </main>
    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>