<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
    <!-- -------------- MAIN  --------------------------  -->
  <main>
     <h1 class="titleAllCategories">TODAS LAS CATEGORIAS</h1>
     <div class="container-all-categories">
      <div class="categories">
          <img src="images/groupFitnessCuadrado.jpg" alt="" class="image-group-fitness-cuadrado">
          <h2 class="title-categories-fitness">FITNESS GRUPAL</h2>
      </div>
      <div class="categories">
          <img src="images/functionalTrainingCuadrado.jpg" alt="" class="image-functional-training-cuadrado">
          <h2 class="title-categories-functional">ENTRENAMIENTO FUNCIONAL</h2>
      </div>
      <div class="categories">
          <img src="images/mat-naranjaCuadrada.jpg" alt="" class="image-mat-naranja-cuadrada">
          <h2 class="title-categories-yoga">YOGA / PILATES</h2>
      </div>
     </div>

     <!-- pasado por Sabri de mercado liebre
      
     <%products.forEach(function(product){%>
      <section class="product-box">
        <a href="products/detail/<%=products.id%>">
          <figure class="product-box_image">
            <img src="images/products/<%=products.image%>" alt="imagen de producto">
          </figure>
          <article class="product-box_data">
            <h2>$<%=product.price%></h2>
            <span><%=product.discount%>% OFF</span>
            <p><%=product.name%></p>
            <i class="fas fa-truck"></i>
          </article>
        </a>
      </section>
    <%})%>
      -->

  </main>

    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>