 
 <!-- -------------- HEAD -----------------------  -->
 <%- include('./partials/head')%>
 
 <body>
     <!-- -------------- HEADER -------------------  -->
         <%- include('./partials/header')%>

<!-- -------------- MAIN  --------------------------  -->
    <main  id="product-page" class="main-container-product">
     <section>
        <article class="product-container">

                   
            <div class="product-image-description-container">
                <img src="/images/products/<%= product.image %>" alt="" class="product-img">
               
                <div class="product-description-cantindad-container">
                    
                    <h1 id="productName" class="product-h1"><%=product.name%></h1>
                    <h2  class="product-h2"><%=product.description%></h2>
                    <div id="containerContadorDisplay" class="containerContador">
                        <p class="product-cantidad">Cantidad:
                        <div class="product-container-buttons-total">
                            <button id="-" class="minus-btn" type="button" name="button"><i class="fas fa-minus"></i></button>
                            <p id="contador" class="mas-menos-input"> 1 </p>
                            <button id="+" class="plus-btn" type="button" name="button"><i class="fas fa-plus"></i></button>
                            </p>
                        </div>
                    </div>
                    <p id="producPrecie"class="product-precio">$<%=product.price%> </p> 
                    <button id="btnAddProduct" class="product-button-agregar">Agregar al carrito 🛒</button>
                   
                </div>
 
            
            </div>
        </article>

     </section>   
    </main>
    <!-- -------------- FOOTER ------------------  -->

        <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>


