<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
    <!-- -------------- MAIN  --------------------------  -->
  <main>
     <h1 class="titleAllCategories">TODAS LAS CATEGORIAS</h1>
     <div class="container-all-categories">
      <div class="categories">
          <img src="images/groupFitnessCuadrado.jpg" alt="" class="image-group-fitness-cuadrado">
          <h2 class="title-categories-fitness">FITNESS GRUPAL</h2>
      </div>
      <div class="categories">
          <img src="images/functionalTrainingCuadrado.jpg" alt="" class="image-functional-training-cuadrado">
          <h2 class="title-categories-functional">ENTRENAMIENTO FUNCIONAL</h2>
      </div>
      <div class="categories">
          <img src="images/mat-naranjaCuadrada.jpg" alt="" class="image-mat-naranja-cuadrada">
          <h2 class="title-categories-yoga">YOGA / PILATES</h2>
      </div>
     </div>
   
     <% products.forEach(function(product){ 
     <!-- let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)--> %>
      <section >
        <a href="products/detail/<%= product.id %>">
          <figure>
            <img src="../images/<%= product.image %>" alt="imagen de producto">
          </figure>
          <article >
          
            <h2>$ <%= product.price %> </h2>
            <span> <%= product.discount %> % OFF </span>
            <p> <%= product.name %> </p>
          </article>
        </a>
      </section>
    <% }) %>
    
   

  </main>

    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>