 
 <!-- -------------- HEAD -----------------------  -->
 <%- include('./partials/head')%>
 
 
 
 <body>
     <!-- -------------- HEADER -------------------  -->
         <%- include('./partials/header')%>

 
     
<!-- -------------- MAIN  --------------------------  -->
    <main class="main-container-product">
     <section>
        <article class="product-container">

                   
            <div class="product-image-description-container">
                <img src="/images/products/<%= product.image %>" alt="" class="product-img">
               
                <div class="product-description-cantindad-container">
                    
                    <h1 class="product-h1"><%=product.name%></h1>
                    <h2 class="product-h2"><%=product.description%></h2>
                  
                    <div>
                        <p class="product-cantidad">Cantidad:
                        <button class="plus-btn" type="button" name="button"><i class="fas fa-plus"></i></button>
                        <input class="mas-menos-input" type="text" name="name" value="1">
                        <button class="minus-btn" type="button" name="button"><i class="fas fa-minus"></i></button>
                        </p>
                   </div>

                    <p class="product-precio">$<%=product.price%> </p> 
                        
                    <button class="product-button-agregar">Agregar al carrito 🛒</button>
                </div>

            
            </div>

            
        </article>

     </section>   
    </main>

     

    <!-- -------------- FOOTER ------------------  -->

        <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>


