<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
    <!-- -------------- MAIN  --------------------------  -->
  <main>
     <h1 class="titleAllCategories">TODAS LAS CATEGORIAS</h1>
     <div class="container-all-categories">
      <div class="categories-all-products">
          <a href="/productsCategory/2"><img src="images/groupFitnessCuadrado.jpg" alt="" class="image-group-fitness-cuadrado"></a>
          <h2 class="title-categories-fitness">FITNESS GRUPAL</h2>
      </div>
      <div class="categories-all-products">
          <a href="/productsCategory/1"><img src="images/functionalTrainingCuadrado.jpg" alt="" class="image-functional-training-cuadrado"></a>
          <h2 class="title-categories-functional">ENTRENAMIENTO FUNCIONAL</h2>
      </div>
      <div class="categories-all-products img-mat-yoga">
          <a href="/productsCategory/3"><img src="images/mat-naranjaCuadrada.jpg" alt="" class="image-mat-naranja-cuadrada"></a>
          <h2 class="title-categories-yoga">YOGA / PILATES</h2>
      </div>
     </div>
   
     <section class="all-products-section">
        <% products.forEach(function(product){ 
          <!-- let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)--> %>
          <a href="products/detail/<%= product.id %>" class="all-products-a">
            <div class="all-products-card">
              <figure>
                <img src="../images/products/<%= product.image %>" class="all-products-img" alt="imagen de producto">
              </figure>
              <article class="all-products-article">
                <h3 class="all-products-p"> <%= product.name %> </h3>
                <div class="all-products-description">
                  <p>$ <%= product.price %> </p>
                  <span> <%= product.discount %> % OFF </span>
                </div>
                <div class="all-products-icon">
                <i class="fa-solid fa-motorcycle"></i>
                </div>
                </article>
              </div>   
            </a>
        <% }) %>
      </section>
  </main>

    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>