

 <!-- -------------- HEAD      -----------  -->
    <%- include('./partials/head')%>
<!-- ----------------------------------------- -->


<body>
    <!-- -------------- HEADER      -----------  -->
        <%- include('./partials/header')%>
    <!-- ----------------------------------------- -->


    <main class="main-container-register">
     <section>
        <form class="register-container" action="/users" method="POST" enctype="multipart/form-data">


             <!-- ----TÍTULO----  -->
            <div class="register-title">
                 <h1 class="register-h1"> <i class="fas fa-sign-in-alt"></i></i>Registrate </h1>
            </div>

            <div class="errores-register">
                <ul></ul>
            </div>
        
             <!-- ----NOMBRE----  -->
             <div class="register-cajas-input">
            <label for="">Nombre</label></br>
            <input type="text" name="firstName" placeholder="Ingresá tu nombre" class="firstName">
             </div>

            <!-- ----APELLIDO----  -->
            
            <div class="register-cajas-input">
                <label for="">Apellido</label></br>
                <input type="text" name="lastName" placeholder="Ingresá tu apellido" class="lastName">
            </div>
         
            <!-- ----foto----  -->
            <div class="register-cajas-input" >
                <label>Foto de perfil</label>
                <br>
                <input type="file" name="image">
            </div>

            <!-- ----EMAIL----  -->
            <div class="register-cajas-input">
                 <label for="">E-mail</label></br>
                 <input type="email" name="email" placeholder="✉ Ingresá tu email" class="email-register">
            </div>

            <!-- ----CONTRASEÑA----  -->
           <div class="register-cajas-input">
            <% if (locals.errors && errors.password) { %>
                <p class="validation-error" id="validation-error"> <%= errors.password.msg %> <i class="fa fa-arrow-down"></i></p>
                    <style>#pass {border: red 2px solid}</style>
                <% } %>
                <label for="">Contraseña</label></br>
                 <input type="password" name="password" placeholder="🔓 Ingresá contraseña" minlength="8" class="contraseña-register">
            </div>
   
            <!-- ----CONFIRMACIÓN CONTRASEÑA----  -->
            <% if (locals.errors && errors.rePassword) { %>
                <p class="validation-error" id="validation-error"> <%= errors.rePassword.msg %> <i class="fa fa-arrow-up"></i> <i class="fa fa-arrow-down"></i></p>
                    <style>#pass,#rePass {border: red 2px solid}</style>
                <% } %>
            <div class="register-cajas-input">
                <label for="">Confirmación de contraseña</label></br>
                 <input type="password" name="password" placeholder="🔒 Confirmá contraseña" class="confirmar-contraseña-register">
            </div>
   
            <!-- ----POLITICA----  -->
            <div class="register-pp">
                <label class="register-pp-label"> <input class="register-checkbox" id="acepta-politica" type="checkbox" name="privacypolicy" value="privacypolicy"> &nbsp &nbspAcepto política de privacidad</label>
                <a href="https://mirfitness.com.ar/politica-de-privacidad-2/"><p class="leer-politica">Leer primero</p></a>
            </div>

            <!-- ----BOTÓN "REGISTRAR"----  -->
            <button type="submit" class="register-button">registrate</button>

            <!-- ----¿YA TENÉS UNA CUENTA?----  -->
            <div class="go-login-div">
                <p class="already-an-account">¿ya tenés una cuenta?</p>
                <a href="http://localhost:3000/users/login"><p class="go-login"> &nbsp Ingresar</p></a>
            </div>

        </form>

     </section>   
    </main>
    
    <!-- -------------- FOOTER ------------------  -->

        <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->
</body>
</html>