<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>



     <body>
          <!-- -------------- HEADER -------------------  -->
          <%- include('./partials/header')%>



               <!-- -------------- MAIN  --------------------------  -->
               <main class="main-container-profile">
                    <section>

                         <form class="profile-container" action="?_method=PUT" method="POST" enctype="multipart/form-data">


                              <!-- ----TÍTULO----  -->
                              <div class="profile-title">
                                   <h1 class="profile-h1"> <i class="fas fa-user"></i></i>&nbsp&nbsp ¡Hola, <%=
                                             user.firstName %>! </h1>
                              </div>

                              <!-- ----IMAGEN----  -->
                              <!--acá hay que cambiar la línea siguiente por una dinámica-->
                              <div class="user-container-img">
                                   <img class="user-img" src="/images/users/<%= user.image || 'default-image.png' %>"
                                        alt="">
                              </div>
                              <br>
                              <!-- ----NOMBRE----  -->
                              <div class="profile-cajas-input">
                                   <label for="">Nombre</label></br>
                                   <input value="<%= user.firstName %>" type="Text" name="name"
                                        placeholder="Ingresá nombre del producto" required>
                                   <!-- <h3><%= user.firstName %></h3> -->

                              </div>

                              <!-- ----APELLIDO----  -->

                              <div class="profile-cajas-input">
                                   <label for="">Apellido</label></br>
                                   <input value="<%= user.lastName %>" type="Text" name="name"
                                        placeholder="Ingresá nombre del producto" required>
                                   <!-- <h3><%= user.lastName %></h3> -->
                              </div>


                              <!-- ----EMAIL----  -->
                              <div class="profile-cajas-input">
                                   <label for="">E-mail</label></br>
                                   <input value="<%= user.email %>" type="Text" name="name"
                                        placeholder="Ingresá nombre del producto" required>
                                   <!-- <h3><%= user.email %></h3> -->
                              </div>
                              <!-- ----BOTÓN "EDITAR"----  -->
                              <button type="submit" class="admin-button">EDITAR</button>
                         </form>

                    </section>
               </main>

               <!-- -------------- FOOTER ------------------  -->

               <%- include('./partials/footer')%>
                    <!-- ----------------------------------------- -->

     </body>

     </html>